<h1 class="app-main-title">{{ translate('Claims') }}</h1>

<hblreact-insurance-table-claims
  string:tag="table-claims"
  int:record-id="{{ viewParams.recordId }}"
  string:view="{{ viewParams.view }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-insurance-table-claims>
