<h1 class="app-main-title">{{ translate('Policies') }}</h1>

<hblreact-insurance-table-policies
  string:tag="table-policies"
  int:record-id="{{ viewParams.recordId }}"
  string:view="{{ viewParams.view }}"
  json:filters='{{ viewParams.filters|json_encode }}'
></hblreact-insurance-table-policies>
